= wrap_layout :layout do
  %section#banner
    %h1 Latest Projects
    .wrapper
      = window("sheffield-ultimate", "http://www.sheffieldultimate.co.uk")
      = window("name-and-shame", "http://www.nameandshameapp.com", "name-and-shame")
      = window("terracoding", "http://www.terracoding.com")

  = yield

  %section#blog
    %h1 Latest Blog Post

    .wrapper
      = partial "shared/post", locals: { post: blog.articles.first }
