= wrap_layout :layout do
  %section#banner
    %h1 Latest Projects
    .wrapper
      = window("terracoding", "http://terracoding.com", nil)
      = window("lando", "http://landocms.com", "lando")
      = window("name-and-shame", "http://nameandshameapp.com", "name-and-shame")

  = yield

  %section#blog
    %h1 Latest Blog Post

    .wrapper
      = partial "shared/post", locals: { post: blog.articles.first }
